<!doctype html>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html, charset=UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0' >
<title><%-title%></title>
<link rel="stylesheet" href="/css/application.css" />
<%-stylesheets%>
<script src="/js/jquery.js"></script>
<%-scripts%>
</head>
<body>
<div class="nav nav-bar"></div>
<%-body%>
</body>
</html>
