<%
    layout('layout')
    stylesheet('/css/login.css')
%>
<div class="container">
    <div class="row">
        <div class="col-center">
            <form class="form-login" action="login" method="POST">
                <div class="input-group">
                    <span class="input-group-addon">Email</span>
                    <input class="form-control" type="email" name="email" value="" />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Password</span>
                    <input class="form-control" type="password" name="password" value="" />
                </div>
                <div class="input-group">
                    <input type="submit" />
                </div>
            </form>
        </div>
    </div>
</div>
