@charset "UTF-8";
html, h1, h2, h3, h4, h5, p, li, a {
  font-family: Dotum, '돋움', helvetica;
  word-break: keep-all; }

.navbar-brand {
  width: 9em;
  display: flex;
  align-items: center; }
  .navbar-brand > .nav-logo {
    font-size: 1.5em;
    font-weight: bold; }

.nav-menu a {
  font-size: 1.2em; }

.nav-menu :hover {
  color: #337ab7 !important; }

.navbar-user {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  padding-left: 15px; }
  .navbar-user > .logout {
    margin-left: 15px;
    margin-right: 15px; }

.form {
  width: 100%;
  padding: 20px;
  padding-top: 0; }

.form-edit {
  display: flex;
  justify-content: center; }

.menu-name {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px; }
  .menu-name > .bold-text {
    width: 50%;
    font-size: 2em;
    font-weight: bold; }
  .menu-name > .btn-right {
    width: 50%;
    display: flex;
    justify-content: flex-end; }

.pagination {
  display: flex;
  justify-content: center; }
  .pagination a {
    padding: 10px; }

.list td {
  vertical-align: middle !important; }
