.product-img {
  width: 15rem; }

.product-header > .date {
  width: 10%; }

.product-header > .desc {
  width: 25%; }

.product-header > .short {
  width: 10%; }

.product-image {
  width: 10em;
  min-width: 10em; }
